[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Felix Schmelzer
	email = 65311773+felixschmelzer@users.noreply.github.com
[core]
	autocrlf = input
[pull]
	rebase = false
